@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #4361ee;
    animation-name: bgSwirl;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.countdown {
    color: #fff;
    font-size: 5em;
    align-self: center;
    margin: 0;
    padding: .5em;
}

.buttonMenu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

button {
    background: #f83990;
    color: #fafbfd;
    font: 2em 'Oswald', sans-serif;
    margin: 0 auto;
    padding: .5em 1em;
    outline: none;
    border: 1px solid transparent;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
}
  
button:hover {
    background-color: #fff;
    color: #4361ee;
    border-color: #2cdcf9;
}

@keyframes bgSwirl{
    20% {
        background-color: #1dbced;       
    }
    40% {
        background-color: #3a0ca3;       
    }
    60% {
        background-color: #7209b7;       
    }
    80% {
        background-color: #f72585;       
    }
    100% {
        background-color: #4361ee;       
    }
}